body{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-image: url("images/background2.png");
    background-position:0px 0px;
    background-repeat: repeat;
}

#footer{
    margin:20px;
    padding:50px 0px;
    position:relative;
}

/*titres*/
h1{
    position: absolute;
    left: 60px;
    top: 0px;
}
h1 a:visited{
    color:black;
}

h2{
    font-size:larger;
}

h3{
    font-size: medium;
}

#bienvenue{
    margin-left:25%;
}

/* Buttons */
#myButton{
    width:auto;
    height: auto;
    box-shadow: 0px 10px 14px -7px #0c0a0a;
	background:linear-gradient(to bottom, #979b9c 5%, #777878 100%);
	background-color:#979b9c;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#0c0a0a;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
    text-shadow:0px 1px 0px #6b6b6b;
}


.myButton:hover {
	background:linear-gradient(to bottom, #777878 5%, #979b9c 100%);
	background-color:#777878;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*icones*/

#iconIdentification{
    position: absolute; 
    width: 40px;
    height: 40px; 
    top: 20px; 
    right: 60px;
}

#iconPanier{
    position: absolute; 
    width: 40px;
    height: 40px; 
    top: 20px; 
    right: 10px;
}

#burger{
    position: absolute; 
    width: 40px;
    height: 40px; 
    top: 20px; 
    left: 10px;
}

/*differentes parties du site*/


/*recherche par une liste*/
#recherche{
    background-color: rgb(235, 235, 235, .7);
    min-height: auto;
    padding:20px;
    margin: 50px 70px;
}

#recherche ul{
    
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

/*recherche par une zone de saisie*/
.ui-widget{
    top: 100px;
    margin: 50px 10px;
    padding: 20px;
    background-color:rgb(235, 235, 235, .7);
}

.ui-widget:label{
    padding-right: 60px;
}

.ui-widget>label{
    padding: 20px;
}

.ui-widget>input{
    margin: 20px;
}

#rechercheRecettes{
    display:inline-block;
}



/*ce qui ne fait pas partie des recherches*/
#rest{
    background-color: rgb(235, 235, 235, .7);
    min-width: auto;
    margin-top: 50px;
    z-index: 1;
    padding:10px;
}
    

#elementsTrouves{
    padding: 10px 0px;
    background-color: rgb(235, 235, 235, .7)
}

#elementsTrouves ul{
    list-style: none;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

.ui-widget ul{
    list-style: none;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

input{
    display: block;
}

li>a{
    font-style: normal;
    list-style-type: none;
    margin:5px;
    color: black;
}

li{
    margin: 10px;
}


a:hover{
    color: lightslategray;
}

