*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    position: absolute;
    left: 60px;
    top: 0px;
}

h2{
    font-size:larger;
}

h3{
    font-size: medium;
}

#bienvenue{
    margin-left:25%;
}

#iconIdentification{
    position: absolute; 
    width: 40px;
    height: 40px; 
    top: 20px; 
    right: 60px;
}

#iconPanier{
    position: absolute; 
    width: 40px;
    height: 40px; 
    top: 20px; 
    right: 10px;
}

#burger{
    position: absolute; 
    width: 40px;
    height: 40px; 
    top: 20px; 
    left: 10px;
}

#footer{
    margin:20px;
    padding:50px 0px;
    position:relative;
}

#recherche{
    background-color: rgb(242, 245, 52);
    min-height: auto;
    padding:20px;
    margin: 50px 10px;
}

.ui-widget{
    top: 100px;
    margin: 50px 10px;
    padding: 20px;
    background-color: rgb(248, 182, 60);
}

#rechercheRecettes{
    display:inline-block;
}

#rest{
    margin-top: 50px;
}

.ui-widget:label{
    padding-right: 60px;
}

.ui-widget>label{
    padding: 20px;
}

.ui-widget>input{
    margin: 20px;
}

input{
    display: block;
}

li>a{
    font-style: normal;
    list-style-type: none;
    margin:5px;
    color: black;
}

li{
    margin: 10px;
}
ul{
    list-style: none;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
}